.outerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424242;
    width: 100%; 
    height: 100vh;
    padding: 20px; 
    border-radius: 9px;
    box-sizing: border-box;
}

.innerDiv {
    background-color: #BEBEBE;
    max-width: 100%; 
    width: 300px; 
    border: 1px solid #777777;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.innerDiv input {
    width: calc(100% - 16px); 
    max-width: calc(100% - 16px); 
    margin-top: 10px;
    margin-bottom: 18px;
    height: 28px;
    font-weight: 800;
    font-size: 16px;
    padding-left: 8px;
    border-radius: 5px;
    box-sizing: border-box; 
}

.innerDiv button {
    height: 40px;
    width: 40px;
    margin: 8px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.innerDiv .operator {
    color: white;
    background-color: #2E2E2E;
}

.innerDiv button:active {
    transform: scale(.99);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.innerDiv #clearbtn {
    background-color: #B00000;
    color: white;
}

.innerDiv .errorColor {
    color: #8b0a0a;
}

@media only screen and (max-width: 600px) {
    .outerDiv {
        width: 100%; 
        height: 100vh;
        margin: 0;
       
    }

    .innerDiv {
        width: 80%;
         /* Adjusted width for better proportion on smaller screens */
    }
}
